html, body {
    font-size: 20px;
    font-family: "Monaco";
    color: #073641;
}

.main-content {
    padding: 1rem 4rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 5rem;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    color: #333;
    display: block;
}

li ul {
    padding-left: 20px;
}

li a:before {
    padding-right:10px;
    font-weight: bold;
    color: rgb(66, 45, 225);
    content: "\2606";
}

li a:hover:before {
    color: rgb(66, 45, 225);
    content: "\2605";
}

li.active > a:before {
    color: rgb(66, 45, 225);
    content: "\2605";
}

.item {
    padding: .5rem 2rem;
    display: block;
    text-decoration: none;
    background-color: rgba(156, 154, 109, 0.088);
    border-bottom: 1px solid rgb(247, 175, 107);
    color: #6363cd;
}